<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="1.0">
    <persistence-unit name="mobile"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.mobile.entity.Empty</class>
        <class>com.company.mobile.entity.Employee</class>
        <class>com.company.mobile.entity.Address</class>
    </persistence-unit>
</persistence>
